.App {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}
/* accordion2 styles */
.acc-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #214461;
  cursor: pointer;
  padding: 15px;
  margin: 7px 0 0 0; 
  font-weight: 600;
}
.body {
  background-color: #214462;
  padding: 15px;
  color: white;
}

.collapse-btn {
  text-align: right;
}
.collapse-btn button{
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  background: #214461;
  color: white;
}

/* accordion3 style */
.acc-chips {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  cursor: pointer;
}
.chips {
  border-radius: 50px;
  margin: 10px;
  padding: 8px 15px;
}
.chip {
  background: white;
  color: #214461;
}
.selected {
  background-color: coral;
  color: white;
}