body {
    background: #c2c6ce;
  }
  .heading {
    background: rgb(39 43 49);
    color: white;
  }
  .tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: darkcyan;
    cursor: pointer;
    padding: 5px;
    margin: 7px 0 0 0;
  }
  .left {
    padding: 10px;
  }
  .is-active {
    background: darkcyan;
    color: white;
  }
.content {
  background-color: #214462;
  padding: 15px;
  color: white;
}